{% extends "sign_up_layout.html" %}

{% block body %}
<h2 class="login-logo">snowAI</h2>
<div class="validation-div">
    <h4 class="login-name">Change Password</h4>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form id="loginForm" action="{% url 'horizonAI:forgot_password' %}" method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group" id="forgot-email">
            <p class="login-headings">Email</p>
            <input class="form-control register-email" type="email" name="email" placeholder="Email Address" id="forgot_password_email">
        </div>
        <div class="form-group" style="display: none;" id="enter-code-div">
            <p class="login-headings">Enter Code</p>
            <input autofocus class="form-control login-username" type="text" name="code" placeholder="Enter Code" id="forgot-code">
        </div>
        <p style="display: none; color:crimson;" class="email-does-not-exist">Email does not exist. Please register an account instead.</p>
        <p id="email-sent" style="display: none;">Please enter the code sent to your phone number.</p>
        <p style="display: none; color:crimson" id="codes-do-not-match">The codes do not match. Please try again.</p>
        <div id="create-new-password-div" style="display: none;">
        <div class="form-group">
            <p class="login-headings">Password</p>
            <input autofocus class="form-control login-username" type="password" name="username" placeholder="New Password" id="newPassword">
        </div>
        <div class="form-group">
            <p class="login-headings">Confirm Password</p>
            <input class="form-control login-password" type="password" name="password" placeholder="Confirm Password" id="confirmPassword">
         </div>
        </div>
        <input class="btn btn-primary login-btn" type="submit" value="Login">
    </form>
    Don't have an account? <a href="{% url 'horizonAI:register' %}" style="text-decoration: none;">Register here.</a>
</div>

    <script src="static/horizonAI/forgot_password.js"></script>
    <script>
        const url = "{% url 'horizonAI:forgot_password' %}"
        const loginUrl = "{% url 'horizonAI:login' %}"
    </script>

{% endblock %}