{% extends "sign_up_layout.html" %}

{% block body %}
<h2 class="login-logo">snowAI</h2>
<div class="validation-div">
    <h2 class="login-name">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'horizonAI:login' %}" method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            <p class="login-headings">Username</p>
            <input autofocus class="form-control login-username" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <p class="login-headings">Password</p>
            <input class="form-control login-password" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary login-btn" type="submit" value="Login">
    </form>
    <!-- <a href="{% url 'horizonAI:forgot_password' %}" style="text-decoration: none;">Forgot Password?</a><br> -->
    Don't have an account? <a href="{% url 'horizonAI:register' %}" style="text-decoration: none;">Register here.</a>
</div>

{% endblock %}