.ai-name {
    margin-top: 30px;
    margin-left: 30px;
}

/* CSS for mobile devices */
/* @media only screen and (max-width: 767px) {
    .details {
        width: 500px;
        margin-right: 300px;
    }
    .explanation {
        width: 500px;
    }
    .navbar {
        width: 900px;
    }
    .logo {
        height: 700px;
    }
    .div-email {
        width: 500px;
    }
    .features-div h3 {
        margin-left: 450px;
    }
    .landing-page-footer {
        height: 400px;
        width: 900px;
    }
    .contact-details {
        width: 400px;
    }
    
    .feature.show {
        width: 300px;
    }
    .feature-explanation {
        margin-right: 100px;        
    }
} */

.explanation {
    margin-right: 330px;
}

.waitlist-email {
    width: 75%;
}

.waitlist-email-input {
    height: 60px;
}

.join-waitlist-button {
    width: 150px;
}

.features-offered {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    gap: 50px;
    margin-top: 50px;
}


.feature-image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.feature {
    width: 33%;
    filter: blur(5px);
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.feature.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}

.feature:nth-child(2) {
    transition-delay: 200ms;
}

.feature:nth-child(3) {
    transition-delay: 400ms;
} 

.landing-page-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 20px 10px;
}

.waitlist-nav {
    height: 300px;
}
.books {
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 300px;
    }
    
    .list-books {
    margin-top: 20px;
}
.category {
    text-align: center;
}

.list-books div {
    margin-left: 40px;
}
.journal-title {
margin-bottom: 15px;
}

.journal {
margin-left: 250px;
}
.books-title {
    margin-left: 200px;
}

.main-book-content {
    display: flex;
}


.searchbar {
    width: 300px;
    margin-left: 120px;
}

.title-book {
    text-decoration: none;
}


.wordbase {
    margin-top: 50px;
    margin-right: 300px;
}

.dictionary {
    margin-bottom: 50px;
    position: absolute;
    margin-left: 300px;
}

.top-header {
    margin-top: 30px;
    margin-left: 50px;
}

.dict-title {
    margin-left: 125px;
}


.journal-header {
    margin-top: 50px;
}

.journal-entry {
    margin-top: 150px;
    margin-left: -400px;
}

#personalJournal {
    height: 350px;
}

.save-entry-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.journal-entries {
    margin-top: 150px;
    margin-left: -350px;
    width: 50%;
}

.date-created-journal {
    margin-left: 400px;
}

.journal-topic-heading {
    display: flex;
    gap: 10px;
}
.new-journal-link {
    text-decoration: none;
    margin-left: 250px;
}

.returned-books {
    margin-top: 30px;
}

.show-term {
    margin-top: 30px;
}

.books-header {
    margin-left: 100px;
    .sign-out {
        margin-top: 25px;
    }
    
    .collapse {
        justify-content: right;
    }
    
    .side-navs {
        margin-top: 50px;
        margin-left: 50px;
        position: fixed;
        transition: all 2s;
    }
    
    .side-navs .scroll-up {
        transform: translateY(-200px);
    }
    
    .side-navs .scroll-down {
        transform: translateY(0);
    }
    
    
    .side-navs a h6 {
        margin-top: 45px;
    }
    
    
    .side-navs a {
        color:black;
        text-decoration: none;
    }
    
    .whole-body {
        display: flex;
    }
}

/* ++++++++ */
.waitlist-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    margin-top: 10vw;
}

.features-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features-div p {
    margin-top: 1rem;
}

.img-cover {
    width: 100%;
    height: 250px;
}

/* Changes Made */

@media only screen and (min-width: 600px) {
    .features-div {
        text-align: center;
        padding: 20px 10px;
    }

    .landing-page-footer {
        align-items: center;
    } 
}

.new-entry {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 20px 0 250px;
}

.new-entry .datetime {
    font-size: 25px;
    font-weight: 700;
}

.new-entry input {
    border-radius: 0;
}

.tags-display {
    display: flex;
    gap: 10px;
}

.tags-display div {
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags-display div i {
    cursor: pointer;
}

.validation-div {
    width: 40%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 360px;
    padding: 25px 20px;
    /* Add a box shadow to create a modal-like effect */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);

    /* Add a solid border with desired color and thickness */
    border: 0px solid #ccc;

    /* If you want rounded corners, you can add a border-radius */
    border-radius: 8px;
}

.login-name, .register-name {
    text-align: center;
    margin-bottom: 20px;
}

.login-username, .register-username {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

.login-password, .register-password, .register-email, .register-equity {
    margin-bottom: 5px;
    height: 50px;
}

.login-btn, .register-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
}

.login-headings {
    /* text-align: center; */
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 30px;
}

.login-logo, .register-logo {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.enter-new-trade {
    margin-top: 50px;
}

.save-button-trade {
    margin-top: 20px;
    margin-left: 110px;
    width: 200px;
    margin-bottom: 30px;
}

.label-div {
    margin-top: 15px;
}

.all-trades {
    text-align: center;
}

.all-trades-div {
    /* text-align: center; */
    margin-left: 400px;
    margin-right: 100px;
    margin-top: -175px;
}

.view-all-trades {
    padding: 25px 20px;
    /* Add a box shadow to create a modal-like effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

    /* Add a solid border with desired color and thickness */
    border: 1px solid #ccc;

    /* If you want rounded corners, you can add a border-radius */
    border-radius: 8px;   
}

.side-navs {
    position: relative;
    top: 100px;
    left: 5px;
}

.trade-analysis {
    text-align: center;
    margin-top: 50px;
}

.trade-analysis-overall {
    height: 250px;
    margin-left: 200px;
    border-radius: 5px;
    margin-top: 50px;
}

.trade-analysis-header {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 500px; */
}

.trade-info {
    margin-top: 50px;
    margin-left: 20px;
    padding: 30px 40px;
    /* Add a box shadow to create a modal-like effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

    /* Add a solid border with desired color and thickness */
    /* border: 1px solid #ccc; */

    /* If you want rounded corners, you can add a border-radius */
    border-radius: 8px;  
    width: 23%;
}

.label-div-learnt {
    margin-left: 120px;
}

.trade-analysis-reflection {
    /* margin-left: 50px; */
    margin-top: 30px;
    text-align: center;
    padding: 30px 30px;
    /* Add a box shadow to create a modal-like effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

    /* Add a solid border with desired color and thickness */
    /* border: 1px solid #ccc; */

    /* If you want rounded corners, you can add a border-radius */
    border-radius: 8px; 
    margin-left: 100px;
    margin-right: 130px;

}

.user-analysis p {
    text-align: left;
    margin-left: 10px;
    /* white-space: nowrap; Prevent text wrapping */
    /* overflow: hidden; Hide overflowed text */
    /* text-overflow: ellipsis; Show ellipsis (...) for overflowed text */
}

.trade-analysis-go-back {
    width: 40%;
    margin-left: 330px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.trade-analysis-go-back p {
    margin-top: 10px;
}

.user-reflection, .livingston-analysis {
    text-align: left;
    /* text-align: left;/ */
}


.livingston-analysis {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.user-analysis {
    margin-left: 100px;
    margin-top: 50px;
    /* padding: 30px 300px; */
    /* Add a box shadow to create a modal-like effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

    /* Add a solid border with desired color and thickness */
    /* border: 1px solid #ccc; */

    /* If you want rounded corners, you can add a border-radius */
    border-radius: 8px; 
    width: 55%;
}

.trade-analysis-roi, .trade-analysis-equity, .trade-analysis-bias {
    padding: 25px 40px;
    /* Add a box shadow to create a modal-like effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

    /* Add a solid border with desired color and thickness */
    /* border: 1px solid #ccc; */

    /* If you want rounded corners, you can add a border-radius */
    border-radius: 8px; 
    width: 33%;
    margin-left: 10px;
    /* margin-right: 50px; */
}

.trade-analysis-stomach {
    display: flex;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 135px;
}

.analysis-header {
    margin-left: 10px;
    margin-top: 30px;
}

.enter-new-trade-cta {
    /* text-align: center; */
    margin-left: 275px;
    text-decoration: none;
}

/* Mobile Responsiveness for cellphones */
@media only screen and (max-width: 767px) {
    .validation-div {
        margin-left: 22px;
        width: 90%;
        height: 650px;
    }
    .navbar {
        width: 100%;
    }
    .all-trades-div {
        width: 100%;
        margin-left: 325px;
        /* margin-left: -0.1px; */
    }
    .enter-new-trade-cta {
        margin-left: 145px;
    }
    #learnt-today-editor {
        position: relative;
        width: 390px;
        height: 50px;
        margin-left: -100px;
    }
    .today-learnt-comment {
        margin-right: 50px;
    }
    .label-div-learnt {
        margin-left: 10px;
    }
    .save-button-trade {
        margin-left: 15px;
        /* margin-right: 5px; */
        width: 93%;
    }
    p, a {
        font-size: 20px;
    }
    .trade-analysis {
        position: relative;
        /* text-align: center; */
        /* margin-left: 20px; */
        font-size: 30px;
    }
    .trade-analysis-header {
        display: block;
        width: 690px;
        margin-left: -85px;
        height: 1000px;
    }
    .trade-analysis-stomach {
        margin-top: -515px;
        width: 300px;
        margin-left: 10px;
        /* gap: 50px; */
        height: 200px;
        display: block;
    }
    .analysis-header {
        font-size: 20px;
    }
    .trade-info h5, .trade-analysis-roi h5, .trade-analysis-equity h5, .trade-analysis-bias h5, .trade-analysis-reflection h5 {
        font-size: 20px;
        margin-left: -30px;
        /* margin-top: 10px; */
        /* padding: 25px 40px; */
    }

    .user-analysis { 
        padding: 1px 10px;
        width: 53%;
        margin: 0px;
    }

    .user-analysis p, .user-reflection {
        font-size: 15px;
    }
    .trade-info {
        margin-top: 10px;
        margin-left: 30px;
        width: 360px;
    }
    .trade-analysis-roi p , .trade-analysis-equity p, .trade-analysis-bias p, .trade-info p {
        margin-left: -30px;
        font-size: 15px;
    }
    .trade-analysis-reflection {
        margin-top: 175px;
        width: 90%;
        margin-left: 20px;
    }
    .trade-analysis-go-back {
        margin-top: 10px;
        width: 100%;
        margin-left: 15px;
        height: 50px;
    }
    .trade-analysis-go-back p {
        font-size: 20px;
        margin-top: -1px;
    }
    .trade-analysis-roi, .trade-analysis-bias, .trade-analysis-equity {
        width: 360px;
    }
}

/* Responiveness for tablets (min-width: 601px) and (max-width: 1023px) */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .validation-div {
        margin-left: 80px;
        width: 80%;
        height: 600px;
    }
    .navbar {
        width: 1200px;
    }
    .all-trades-div {
        width: 85%;
        margin-right: 100px;
    }
    #learnt-today-editor {
        position: relative;
        width: 690px;
        height: 50px;
        margin-left: -45px;
    }
    .today-learnt-comment {
        margin-right: 50px;
    }
    .label-div-learnt {
        margin-left: 60px;
    }
    .save-button-trade {
        margin-left: 60px;
        /* margin-right: 5px; */
        width: 85%;
    }
    .trade-analysis {
        position: relative;
        /* text-align: center; */
        margin-left: -400px;
        font-size: 40px;
    }
    
    .trade-analysis-header {
        margin-left: -45px;
        width: 900px;
    }

    .trade-analysis-stomach {
        margin-top: 50px;
        width: 720px;
        margin-left: 50px;
    }
    .trade-analysis-reflection {
        margin-top: 50px;
        width: 710px;
        margin-left: 60px;
    }
    .analysis-header, .trade-info h5, .trade-analysis-roi h5, .trade-analysis-equity h5, .trade-analysis-bias h5, .trade-analysis-reflection h5 {
        font-size: 20px;
        margin-left: 10px;
    }
    .user-analysis p, .trade-info p, .trade-analysis-roi p, .trade-analysis-equity p, .trade-analysis-bias p, .user-reflection {
        font-size: 15px;
    }
    .trade-analysis-go-back {
        margin-top: 50px;
        width: 650px;
        margin-left: 80px;
        height: 70px;
    }
}

.trade-analysis-wrapper {
    gap: 10px;
}

.trade-analysis-wrapper > div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}